github "attaswift/BigInt"
github "Sajjon/EllipticCurveKit" "master"
github "krzyzanowskim/CryptoSwift" "master"
github "ollitapa/JSONRPCKit"
github "ishkawa/APIKit"
github "ReactiveX/RxSwift"
github "apple/swift-protobuf"