github "attaswift/BigInt" "master" 
github "Sajjon/EllipticCurveKit" "1.0.0"
github "krzyzanowskim/CryptoSwift" "1.0.0"
github "ReactiveX/RxSwift" "4.5.0"
github "apple/swift-protobuf" "master" 
github "Alamofire/Alamofire" "5.0.0-beta.4"